

.containerNavBar{
    width: 100% !important;
    border: none;
    text-decoration: none;
}

.btn{
    background-color: #25eedc !important;
    color:white !important;
    border: none !important;
    
}
.btn:hover{
    color: #25eedc !important ;
    background-color: #fff !important;
    border: 1px solid #25eedc ;
  }

.btn2{
    background-color:#dc25ee!important;
    color:white !important;
    border: none !important;
    
}
.btn2:hover{
    color: #dc25ee !important ;
    background-color: #fff !important;
    border: none !important;
  }

.navbar{
    display: flex;
    align-items: center;
}
.leftBar{
  
    line-height: 50px;
    width:20%;
}

.random{
    width:60%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #00c4cc;
}

.loginCard{
    padding: 2em;
    margin: 2em; 
}
.h3{
   color:#00c4cc !important;
}

.loginNavBar{
    /* background-color: #00ccc0 !important; */
    color: aliceblue !important;
    background: linear-gradient(to right,#05c0cc, #38caff,#a274ff) !important;
    /*  #fd3737 */
    
}
.loginimg{
    /* height:16% !important; */
    width: 22% !important;
    object-fit:cover; 
}
.form-control{
    border: 1px solid #00c4cc !important; 
}
.emailInput{
    width:98% !important;
}
.custom-checkbox{
    background-color:#00c4cc !important;
    
    border: none !important;
}

.navBarDiv{
    width: 50% !important;
}

