

.containerNavBar{
    width: 100% !important;
    border: none;
    text-decoration: none;
}
.btn{
    background-color: #81c7da !important;
    color:white !important;
    border: none !important;
    
}
.btn:hover{
    color: #81c7da !important ;
    background-color: #fff !important;
    border: 1px solid #00c4cc ;
  }
  
.btn2{
    background-color: white!important;
    border: none !important;
    box-shadow: none!important;
    border: none;  
}
.btn2:hover{
    color: #81c7da!important ;
    background-color: red;
  }

.navbar{
    display: flex;
    align-items: center;
}


.flex{
    display: flex;
    justify-content: center;
}

.random{
    width:70%;
    height: 500px;
    align-items: center;
    text-align: justify;
}

.loginCard{
    padding: 2em;
    margin: 2em; 
}
.h3{
   color:#81c7da !important;
}

.loginNavBar{
    color: aliceblue !important;
    background: linear-gradient(to bottom, #81c7da, white)!important;
 
    
}
.loginimg{
    /* height:16% !important; */
    width: 50% !important;
    object-fit:cover; 
}
.form-control{
    border: 1px solid black!important; 
}
.emailInput{
    width:98% !important;
}
.custom-checkbox{
    background-color:#81c7da !important;
    
    border: none !important;
}

.navBarDiv{
    width: 50% !important;
}

.homelink{
    text-decoration: none;
    font-family: helvetica;
    font-size: 18px;
    color: black;
    font-weight: bold;
    box-shadow: none;
    
};

.homelink:hover{
    
    color: #81c7da
    
};

.group {
    background-color:  #81c7da;
    width:200px;
    height:200px;
    border-radius: 100%;
    border: black;

};

#close {
    background: none;
    border: none;

}
.fontgeneral{
    font-weight:bold;
    font-size:20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.buttonwhite{
    font-weight: bold;
    font-size: 23px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: white;
    color:#81c7da;
    padding-left: 10px;
    border-radius: 9px 9px 9px 9px;
    box-shadow: 1px 1px 1px;
    padding-right: 10px;
    border:white;



}

.bulle {
    width: 600px;
    height: 500px;
    background-image: url("../../assets/Bulle.png");
    background-size: cover; 
    justify-content: flex-start;
    align-items: center;
    display:flex;
    padding-top: 90px;
    flex-direction: column;
    font-size:20px;
    
    
  }

  .text {
    width:280px;
    text-align: justify;
    
  }


  .custom-img {
   
    width:500px;
    height:500px;
    
    background-image:url("../../assets/a.png") ;
    background-repeat: no-repeat;
    display: flex;
    justify-content:flex-end;
    align-items: flex-start;
    background-size: cover;
  }

  #massage {
    display: block;
  }
  
  .hide {
    display: none;
  }
  