.random-class-0{
 
  font-size: 30px !important;;
  font-family: 'Smokum', cursive;
}
.random-class-1{
 
    font-size: 30px !important;;
    font-family: 'Smokum', cursive;
  }
.random-class-2{
   
    font-size: 30px !important;;
    font-family: 'Chakra Petch', sans-serif;

  }
  .random-class-3{
   
    font-size: 30px !important;;
    font-family: 'Gloock', serif;

  }
  .random-class-4{
   
    font-size: 30px !important;;
    font-family: 'Kaushan Script', cursive;

  }
  .random-class-5{
   
    font-size: 30px !important;;
    font-family: 'Nanum Pen Script', cursive;

  }
  .random-class-6{
   
    font-size: 30px !important;
    font-family: 'Open Sans', sans-serif;

  }
  .random-class-7{
   
    font-size: 30px !important;;
    font-family: 'Righteous', cursive;

  }
  .random-class-8{
   
    font-size: 30px !important;;
    font-family: 'Roboto', sans-serif;

  }
  .random-class-9{
   
    font-size: 30px !important;
    font-family: 'Roboto Mono', monospace;

  }